.hero {
  height: 95vh;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  position: relative;

  &--half {
    height: 70vh;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
