@use 'abstracts/mixins' as mixins;

:host {
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);
}

.header {
  background: var(--primary);
  color: var(--background);

  transition:
    background var(--transition-base),
    box-shadow var(--transition-base);

  &--scrolled {
    background: color-mix(in srgb, var(--primary) 75%, transparent);

    backdrop-filter: blur(12px);
  }

  &__container {
    margin: var(--margin-horizontal-auto);
    padding: var(--space-xs);
  }

  &__nav {
    gap: var(--gap-lg);
  }

  &__burger {
    display: none;
    font-size: var(--font-size-lg);
    background: none;
    border: none;
    color: var(--background);
    cursor: pointer;
  }
}

.nav {
  &-link {
    padding: 8px 0;
    cursor: pointer;
  }

  &-item {
    position: relative;
    &:hover .dropdown {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      pointer-events: auto;
    }
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: var(--z-index-dropdown);

  pointer-events: none;

  background: var(--primary);

  padding: var(--space-xs);
  border-radius: var(--radius-sm);

  opacity: 0;
  visibility: hidden;
  transform: translateY(-8px);

  transition:
    opacity var(--transition-fast),
    transform var(--transition-fast);

  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    height: 12px;
  }

  li {
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  a {
    transition: color var(--transition-fast);

    &:hover {
      color: red;
    }
  }
}

.menu {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-nav-menu);

  background: var(--primary);
  color: var(--background);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: var(--transition-base);

  &--open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__close {
    position: fixed;
    top: 20px;
    right: 20px;

    font-size: var(--font-size-lg);
    color: var(--background);

    background: none;
    border: none;
    cursor: pointer;

    z-index: var(--z-index-close-button);
  }

  &__inner {
    gap: var(--gap-xl);
    text-align: center;
  }

  &__link {
    text-decoration: none;

    &--large {
      font-size: var(--font-size-lg);
      line-height: var(--line-height-normal);
      letter-spacing: 0.5px;
    }

    &--nested {
      font-size: var(--font-size-normal);
      opacity: 0.9;
    }
  }

  &__section {
    gap: var(--gap-sm);
  }

  &__label {
    font-size: var(--font-size-sm);
    opacity: 0.5;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

/* burger */
@include mixins.mobile {
  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
  }
}
