.hero {
  &__subtitle {
    font-size: 46px;
    margin: 0;
    color: var(--background);
  }

  &__actions {
    display: flex;
    margin-top: 10px;
    gap: 16px;
    justify-content: center;
  }
}

.btn-primary {
  background: var(--primary);
  color: var(--primary-foreground);
  border: none;
}

.btn-outline {
  background: transparent;
  border: 2px solid var(--background);
  color: var(--background);
}
