<section class="works">

  @for (work of works(); track work.id; let i = $index) {
    <div class="work" [class.odd]="i % 2 === 1">

      <div class="work__media">
        <h2>{{ work.category }}</h2>
        <div class="image">
          <img [ngSrc]="work.imageUrl" [alt]="work.title" fill />
        </div>
      </div>

      <div class="work__info">
        <p>{{ work.description }}</p>

        <a class="btn" [routerLink]="['/portfolio', work.category]">
          Подробнее
        </a>
      </div>
    </div>
  }

</section>
