@if (project()) {
  <app-hero-section [imageUrl]="project().hero.backgroundImage" [size]="HeroSizeEnum.Half">
    <div hero-title class="hero__title">
      <h1>{{ project().hero.title }}</h1>
    </div>
  </app-hero-section>

  @for (section of project().sections; track $index) {

    @switch (section.type) {

      @case (SectionTypeEnum.Image) {
        <app-image-section [section]="section" />
      }

      @case (SectionTypeEnum.Gallery) {
        <app-gallery-section/>
      }

      @case (SectionTypeEnum.Text) {
        <app-text-section/>
      }

    }

  }
}
